<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.testdbConnectionString"
            connectionString="Data Source=DESKTOP-5OR2D5P\TUTORIALSSQL;Initial Catalog=testdb;Persist Security Info=True;User ID=sa;Password=Jon315Ky"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>